@import 'https://fonts.googleapis.com/css?family=Roboto|Suez+One';

* {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	height: 100%;
}

a {
	color: #0000ff;
	text-decoration: none;
	transition: all.3s ease;
	-webkit-transition: all.3s ease;
	-ms-transition: all.3s ease;
	-moz-transition: all.3s ease;
	-o-transition: all.3s ease;
}

a:hover {
	color: #00c8c8;
	text-decoration: none;
	transition: all.3s ease;
	-webkit-transition: all.3s ease;
	-ms-transition: all.3s ease;
	-moz-transition: all.3s ease;
	-o-transition: all.3s ease;
}

img {
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
	transition: all 3s ease-out;
	-webkit-transition: all 3s ease-out;
	-ms-transition: all 3s ease-out;
	-moz-transition: all 3s ease-out;
	-o-transition: all 3s ease-out;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

header {
	float: left;
	background-color: #343434;
	width: 99.4%;
	padding: 0.3%;
	color: #ffffff;
	border-bottom: 5x solod #59595a;
}

header>div#logo>a>img {
	width: 50px;
	height: 50px;
	float: left;
}

header>div#logo>a {
	color: #ffffff;
}

header>div#logo>a>span {
	font-size: 2.5em;
	margin-left: 10px;
	font-family: 'Suez One';
}

@media (min-width: 950px) {

	header>div#logo>a>img {
		margin-left: 15%;
	}

	#logo {
		float: left;
		width: 30%;
	}

	#site_pages {
		margin-right: 5%;

		float: right;
		width: 37%;
	}

}

@media (max-width: 949px) and (min-width: 301px) {

	header>div#logo>a>img {
		margin-left: 15%;
	}

	#logo {
		float: left;
		width: 50%;
	}

	#site_pages {
		margin-right: 5%;

		float: right;
		width: 37%;
	}

}

@media (max-width: 300px) {

	header>div#logo>a>img {
		margin-left: 5%;
	}

	#logo {
		width: 100%;
	}

	#site_pages {
		margin-right: 5%;

		visibility: hidden;
		display: none;
	}

}

#site_pages {
	text-align: right;
	font-family: 'Roboto Slab';
	font-size: 1.5em;
	padding-top: 10px;
}

#site_pages>a {
	color: #969696;
}

#site_pages>a:hover {
	color: #c8c8ff;
	border-bottom: 1px solid #c8c8ff;
}

#site_pages>a:last-child {
	margin-right: 5%;
}